.User {
    margin: none;
    display: flex;
}
.color {
    background-color: rgba(255, 180, 242, 0.2);
}
.lp {
    flex: 1;
    position: relative;
    border-right: 1px solid #2c3e50;
    font-weight: normal;
}
.name {
    flex: 3;
    border-right: 1px solid #2c3e50;
    font-weight: normal;
}
.phone {
    flex: 3;
    border-right: 1px solid #2c3e50;
    font-weight: normal;
}
.age {
    flex: 2;
    border-right: 1px solid #2c3e50;
    font-weight: normal;
}
.button {
    flex: 1;
}
.button:hover {
    cursor: pointer;
    color: red;
}